.speech
{
    color:black;
    font-size: medium;
}
.direction
{
    background-color:lightgreen;
    color: black;   
    font-size:small;
}
.name {
    color:darkblue;
}
.direction:hover
{
    color:darkorange;
    background-color:blueviolet;
}
.Billing {
    color:darkmagenta;
}
.Hovstad {
    color:purple;
}
.Dr.Stockmann {
    color:indigo;
}